[Desktop Entry]
Encoding=UTF-8
Icon=text-html
Name[en_US]=آموزش RostovVPN برای لینوکس
Name=آموزش RostovVPN برای لینوکس
Type=Link
URL=https://github.com/Darkmen203/rostovvpn
